<%- include('common/header') %> 
<%- include('common/paginateControl') %> 

<div class="ad-list">

    <%if(results.length !==0 && results){ 
        results
        for( let i = 0; i < results.length; i++ ) { %>
        <div class="ad-list__ad">
            
            <div class="ad-list__job-info">
                <a href="<%=results[i].nuoroda%>" class="ad-list__job-name"><%=results[i].jobName%></a>
                <% if(results[i].alga !== '-'){%>
                    <div class="ad-list__alga">
                        <span class="ad-list__alga-kiekis"><%=results[i].alga.alga%></span>
                        <% if(results[i].alga.algosPeriodas !== '-' && results[i].alga.algosPeriodas){%>
                        <span class="ad-list__alga-periodas"><%=results[i].alga.algosPeriodas%></span>
                        <% } %> 
                        <% if(results[i].alga.algosSkaiciavimas !== '-' && results[i].alga.algosSkaiciavimas){%>
                        <span class="ad-list__alga-skaiciavimas"><%=results[i].alga.algosSkaiciavimas%></span>
                        <% } %> 
                    </div>
                    <% } %> 
            </div>
            <div class="ad-list__employer-info">
                <div class="ad-list__city">Miestas(-ai): <%=results[i].miestas%></div>
            </div>
            <div class="ad-list__ad-info">
                <div class="ad-list__expiration">Skelbimo galiojimas/ikeltas pries: <%=results[i].adGaliojimas%></div>
                <a href="<%=results[i].nuoroda%>"class="ad-list__source">I <%=results[i].source%> skelbima</a>
            </div>

        </div>
    <% }
     }else{%>
        <div class="no-results danger">
            <h2>Rezultatu nerasta</h2>
            <a href="/" class="success">Nauja paieska</a>
        </div>
        <% } %>
</div>  
<%- include('common/paginateControl') %> 
        
<%- include('common/footer') %>
